{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
{% include 'navBar/navbar.html.twig' %}
<div class="container-home bg-dark">
    <nav style="background-color: #000000;" class="navbar fixed-bottom navbar-dark">
        <div style="text-align: center;" class="d-flex justify-content-around align-items-center w-100">
          <a style="font-family: 'Megrim', cursive; color: #B66B1A; font-size: 30px; font-weight: 600;" class="navbar-brand" href="index.html">ARCHEA</a>
        </div>
    </nav>

  
</div>
{% endblock %}
