{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('map') }}
{% endblock %}

{% block title %}Hello MapController!{% endblock %}

{% block body %}
    <div class="colmap" id="map"></div>
    <div id="mapid"></div>

    <div id="video-wrapper">
        <video id="video" autoplay></video>
    </div>
    <div>
        <canvas id="canvas"></canvas>
    </div>

    <nav class="navbar fixed-bottom navbar-dark bg-dark">
        <div style="text-align: center;" class="d-flex justify-content-around align-items-center w-100">
        <a style="font-family: 'Megrim', cursive; color: #B66B1A; font-size: 30px;" class="navbar-brand"
            href="index.html">ARCHEA</a>
        <button style="padding:; font-size: 30px; background-color:#202529; color: #B66B1A; border-radius:7px;"
            id="startButton"><i class="bi bi-camera"></i></button>
        <button style="padding: 3px; font-size: 30px; background-color:#202529; color: #B66B1A; border-radius:7px;"
            id="captureButton" disabled><i class="bi bi-circle-fill"></i></button>
        <a style="font-size: 30px; color: #B66B1A;" href="login.html"><i class="bi bi-person-circle"></i></a>
        </div>
    </nav>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('map') }}
{% endblock %}
