.container {
    display: flex;
    justify-content: center;
}

.colmap {
    opacity: .7;
  }

  #map {
    height: 100vh;
  }

  #video-wrapper {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 400;
  }

  #canvas {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 400;
  }